<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
<h1> Jimmy's Travel App</h1>
<!-- <div class='container'> -->
<div class='container' id="user-input"><form action="">
    <label for="destination">Where would you like to visit?</label><br>
    <div id="form-submit">
    <input class="form-txt" type="text" id="destination" name="destination" placeholder="Enter City and State/Country">
    <label for="departure-date">Departure Date</label>
    <input class="form-txt" type="date" id="departure-date" name="departure-date">
    <input type="submit" value="submit" id="submit"></div>
</form>
</div>
<div class="container" id="results"><img src="src/client/media/St_Maarten_Ariel_Shot.jpg" alt="View of Saint Maarten from a plane"></div>
<h2>Itinerary:</h2>
<div id = "countdown">
</div>
<!-- </div> -->

    <script type=“javascript” src=“../../../dist/main.js></script>
</body>
</html>