<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
<h1> Jimmy's Travel App</h1>

<div class="wrapper">
<div class='container' id="user-input"><form action="">
    <label for="destination">Where would you like to visit?</label><br>
    <div id="form-submit">
    <input title="Enter Destination Here" class="form-txt" type="text" id="destination" name="destination" placeholder="Enter City and State/Country">
    <label for="departure-date">Departure Date</label>
    <input title="When do you plan to travel?" class="form-txt" type="date" id="departure-date" name="departure-date">
    <input title="Click Here to Submit" type="submit" value="submit" id="submit"></div>
</form>
</div>
</div>



<!-- <h2>Trip Info:</h2> -->
<div class="" id="results-wrapper">
    <div id="trip-info">
<h3 id= "countdown"></h3>
<div class="box" id="weather-card">
    <h2 id="weather-h3"></h2>
    <div id="weather-wrapper" class="box">
        <div class="" id= "icon"><img src=""></div>
        <div id="weather-details">
            <div id = "weather"></div>
            <div id="temp"></div>
        </div>
    </div>
</div>
</div>
<div class="image-container" id="image"><img id="dest-image" src=""></div>
<div id=attribution></div>
</div>

    <script type=“javascript” src=“../../../dist/main.js></script>
    <script>
 // Check that service workers are supported
//  if ('serviceWorker' in navigator) {
//      // Use the window load event to keep the page load performant
//      window.addEventListener('load', () => {
//          navigator.serviceWorker.register('/service-worker.js');
//      });
//  }
</script>
</body>
</html>