body{
    background-color:  #5cb0b6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px #124b4f;

}
.box{
    display: flex;
    padding:1em
}
#weather-card.box{
    display: flex;
    flex-direction: column;
    margin:5px;
    padding:5px;
}
.container{ 
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    box-shadow: 2px 2px #69c8cf;
    margin-top: 15px;
    background-color:#69c8cf ;
}
h1{
    margin: .5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-shadow: 4px 4px #124b4f;
}
h3{
    margin:.25em;
}
label{
    font-weight: 500;
    color: white;

}
#countdown{
    text-align: center;}
#destination{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    color:grey
    
}
#user-input{
    display: flex;
    align-items: center;
}
#form-submit{
    display: flex;
    flex-direction: column;
}
.form-txt{
    font-family:'Roboto', sans-serif ;
    margin-top: 5px;
    margin-bottom: 5px;
}
#departure-date{
    color:grey
}
#submit{
    border-radius: 7px;
}
#weather-details{
    padding: 1em;
}