body{
    background-color:  #5cb0b6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px #124b4f;

}
.box{
    display: flex;
    flex-direction: row;
    padding:.5em
}
#weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    padding:5px;
}
.container{ 
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    box-shadow: 2px 2px #69c8cf;
    // // margin-top: 15px;
    background-color:#69c8cf;
}
.image-container{
    display: flex;
    padding:.5em;
    flex-direction: column;
}
h1{
    margin: .5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-shadow: 4px 4px #124b4f;
}
h2{
    margin:0px
}
h3{ 
    margin:3px;
    padding:3px;
}
label{
    font-weight: 500;
    color: white;

}
#attribution{
    margin:10px;
    font-size: .6em
}
#countdown{
    text-align: center;
    margin:10PX;
}
#destination{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    color:grey
    
}
#user-input{
    display: flex;
    align-items: center;
}
#form-submit{
    display: flex;
    flex-direction: column;
}
.form-txt{
    font-family:'Roboto', sans-serif ;
    margin-top: 5px;
    margin-bottom: 5px;
}
#departure-date{
    color:grey
}
#submit{
    border-radius: 7px;
}
#weather-details{
    padding: 1em;
}

@media only screen and (min-width: 900px) {

}